.confirm-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .confirm-modal-overlay.show {
    opacity: 1;
    visibility: visible;
  }
  
  .confirm-modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .confirm-modal.show {
    transform: translateY(0);
    opacity: 1;
    animation: fadeInSlideIn 0.5s ease forwards; /* Animation */
  }
  
  /* Define fade-in and slide-in keyframes */
  @keyframes fadeInSlideIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .confirm-modal-buttons {
    margin-top: 20px;
  }
  
  .confirm-button,
  .cancel-button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirm-button {
    background-color: #58ab31;
    color: white;
  }
  
  .cancel-button {
    background-color: #f44336;
    color: white;
  }
  